.food-group {
    .group-food-list {
        .dx-item.dx-list-item {
            border-radius: 5px;
            margin: 5px 0;
        }
    }

    .title {
        width: 100px;
        border-radius: 5%;
    }
}